@using MVC_Demo.Models
@model MVC_Demo.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Customer Index</h2>
<h3>@ViewBag.Message</h3>

@*<form action="/customer" method="post">
        <div class="form-group">
            <label for="Name">姓名</label>
            <input type="text" class="form-control" id="Name" name="name">
        </div>
        <div class="form-group">
            <label for="Gender">性別</label>
            <select class="form-control" id="Gender" name="gender">
                <option value="1">男</option>
                <option value="0">女</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>*@

<h3>Razor Html.BeginForm()</h3>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-2" })
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Gender, new { @class = "col-2" })
        <label for="EnumDropDownListFor">EnumDropDownListFor</label>
        @Html.EnumDropDownListFor(m => m.Gender, "請選擇", new { @class = "form-control" })
    </div>
    @*<div class="form-group">
            <label for="GenderDropDownList">性別 DropDownList</label>
            @Html.DropDownList("Gender", new SelectList(Enum.GetValues(typeof(GenderType))), "請選擇", new { @class = "form-control" })
        </div>*@
    @*<div class="form-group">
            <label for="Gender">性別 DropDownListFor</label>
            @Html.DropDownListFor(model => model.Gender, new SelectList(Enum.GetValues(typeof(GenderType))), "請選擇", new { @class = "form-control" })
        </div>*@
    <button type="submit" class="btn btn-primary">Submit</button>
}

@*顯示名稱*@
<h3>@Html.DisplayNameFor(model => model.Name)</h3>
@*顯示內容*@
<span>@Html.DisplayFor(model => model.Name)</span>

<h3>@Html.DisplayNameFor(model => model.Gender)</h3>
<span>@Html.DisplayFor(model => model.Gender)</span>
